.details-wrapper {
    padding: 20px;
}

.teams-score-wrapper {
    background-color: #484848;
    color: #fff;
    padding: 20px 0;
    margin: 0;
}

.x-small-letters {
    font-size: 0.8em;
    color: #e0e0e0;
}

.big-letters {
    font-size: 1.8em;
}

.vertical-center {
    margin: auto 0;
}

.details-bold {
    flex: 0 0 100px;
    font-weight: bold;
}

@media (max-width: 650px) { 
    .x-small-letters {
        font-size: 0.8em;
    }

    .big-letters {
        font-size: 1.6em;
    }
}