<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-sm-6">
      <div class="h2-wrapper">
        <h2>Details</h2>
      </div>
      <div class="container teams-score-wrapper">
        <div class="row">
            <div class="col small-letters vertical-center text-right">{{gameData.homeTeam}} ({{gameData.gender}})</div>
            <div class="col-2 text-center big-letters">{{gameData.homeTeamScore}} - {{gameData.awayTeamScore}}</div>
            <div class="col small-letters vertical-center text-left">{{gameData.awayTeam}} ({{gameData.gender}})</div>
        </div>
      </div>
      <div class="container-fluid details-wrapper">
          <div class="row">
            <div class="col details-bold">League:</div><div class="col-6">{{gameData.league}}</div> 
          </div>
          <div class="row">
            <div class="col details-bold">Sport:</div><div class="col-6">{{gameData.sport}}</div>
          </div>
          <div class="row">
            <div class="col details-bold">Season:</div><div class="col-6">{{gameData.season}}</div>
          </div>
          <div class="row">
            <div class="col details-bold">Time:</div><div class="col-6">{{gameData.gameTime  | utcDate | date:'shortTime'}}</div>
          </div>
          <div class="row">
            <div class="col details-bold">Statium:</div><div class="col-6">{{gameData.stadium}}</div>
          </div>
      </div>
      <div class="button-wrapper">
          <button type="button" class="btn btn-outline-primary" routerLink="">Home</button>
      </div>
    </div>
    <div class="col-sm-6">
      <app-leagues></app-leagues>
    </div>
  </div>
</div>