/********************
    
    NAVIGATION MENU

********************/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: "#f3f3";
}

nav ul li a {
    display: block;
    width: 60px;
    color: "#929203";
}
