.game-wrapper {
    padding: 0;
}

.games-tab {
    color: #ff9800;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
}

.score-time {
    padding: 0 10px;
    font-weight: bold;
}

.game-item {
    padding: 20px 0;
    margin: 0;
}

.league-item {
    background-color: #e0e0e0;
    margin: 0;
    padding: 20px 10px;
}

.even {
    background-color: #e0e0e0;
}

.dark-orange {
    color: #c66900;
}

.light-orange {
    color: #ff9800;
}
