/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

body {
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    background-color: #eeeeee;
    color: #000;
}

.grey-border {
    border-bottom: 1px solid #eeeeee;
}

.no-data {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

select {
    height: 32px;
}

.h2-wrapper {
    padding: 20px 0 10px 0;
    border-bottom: 2px solid #ff9800;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.button-wrapper {
    text-align: center; 
}

.btn-outline-primary {
    color: #ff9800;
    border-color: #ff9800;
    cursor: pointer;
}

.btn-outline-primary:active:focus {
    color: #fff;
    border-color: #ff9800;
    background-color: #ff9800;
    box-shadow: none;
}

.btn-outline-primary:hover {
    color: #fff;
    border-color: #ff9800;
    background-color: #ff9800;
}

.card {
    background-color: #fff;
}

@media only screen and (max-width: 600px)  {
    
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 576px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 48%;
        margin: 2% 1%;
    }
}
